<div class="simple slideshow context">
    {% for image in images %}
        {% if forloop.first %}
        <div class="active">
            {% include 'content/gallery/image.html' %}
        </div>
        {% else %}
        <div>
            {% include 'content/gallery/image.html' %}
        </div>
        {% endif %}
    {% endfor %}
    
</div>

{% comment %}
Use this to customize the slideshow:

<script type="text/javascript">
    SQ.add(function(){
        $('#slidemood').slideshow(
            {                
              'duration'  : 7500,
              'shuffle' : true 
            });
    }); 
</script>
{% endcomment %}
